<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

<app-headerclient></app-headerclient>

<section class="food_section layout_padding" style="margin-top: 80px;">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Notre Menu</h2>
    </div>

    <ul class="filters_menu">
      <li [class.active]="activeFilter === 'TOUT'" (click)="filterItems('TOUT')">Tous 𓌉◯𓇋</li>
      <li [class.active]="activeFilter === 'FASTFOOD'" (click)="filterItems('FASTFOOD')">Fast Food 🍔</li>
      <li [class.active]="activeFilter === 'PLATPRINCIPALE'" (click)="filterItems('PLATPRINCIPALE')">Plat Principal 🍽️</li>
      <li [class.active]="activeFilter === 'SALADE'" (click)="filterItems('SALADE')">Salade 🥗</li>
      <li [class.active]="activeFilter === 'DESSERT'" (click)="filterItems('DESSERT')">Dessert 🍰</li>
      <li [class.active]="activeFilter === 'BOISSON'" (click)="filterItems('BOISSON')">Boisson 🥤</li>
    </ul>

    <div id="menu">
      <div class="slide-container">
        <div class="slide-content" *ngFor="let plat of plats">
          <div class="card-wrapper">
            <div class="card">
              <div class="image-content">
                <span class="overlay"></span>
                <div class="card-image" (click)="goToDetails(plat.idPlat)">
                  <img [src]="plat.image" alt="" class="card-img">
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">{{ plat.nom }}</h2>
                <p class="description">{{ plat.description }}</p>
                <br>
                <p><span class="primary-text" style="font-weight: bold;color:antiquewhite">{{ plat.prix }} TND</span></p>
                <div>
                  <button class="button">👁️</button>
                  <button class="button" (click)="openQuantityPopup(plat)">
                    <ion-icon style="color:rgb(30, 30, 30);" name="cart-outline"></ion-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Popup Modal for Quantity Input -->
    <div class="modalQte" *ngIf="selectedPlat">
      <div class="modalQte-content">
        <h3>Quantité pour {{ selectedPlat.nom }}</h3>
        <input type="number" [(ngModel)]="quantity" min="0" placeholder="Quantité" />
        <br><br>
        <button (click)="addToCart()">Ajouter au Panier</button>
        <button (click)="selectedPlat = null">Annuler</button>
      </div>
    </div>

  </div>
</section>

<!--Carte Menu -->

 <!-- Case à cocher cachée pour gérer l'état de la modal -->
 <input type="checkbox" id="menu-toggle">

 <!-- Bouton pour ouvrir la modal -->
 <!--for="menu-toggle" lie le label au checkbox, permettant d'activer ou désactiver la case à cocher en cliquant sur le label -->
 <label for="menu-toggle" class="menu-button">🍴</label>
 <div class="overlay2"></div>

 <!-- Modal -->
 <div class="modal" >
   <div class="modal-content" style="margin-top: 100px;">
        <div >
            <div style="display: flex; justify-content: center; align-items: center;margin-top: 20px;">
            <label for="menu-toggle" class="close-button" style="margin-top: 100px;">⛌</label>

                <h1 style="color: rgb(239, 255, 11);">Foody Menu</h1> <br> <br>
                </div>
                <img [src]='"../../../../assets/separator.svg"' width="250px" height="100px" style="margin-left: 240px;">
            </div>


            <!-- Category: Hamburger -->
            <div class="menu-category" style="margin-top: -20px;">
                <h2> 🍔 Fast Food </h2>
                <div class="menu-items" *ngFor="let plat of plats">
                    <div class="menu-item" *ngIf="plat.categorie === 'FASTFOOD'">
                        <div>
                            <h3>{{plat.nom}}</h3>
                            <p>{{plat.description}}</p>
                        </div>
                        <div class="price">{{plat.prix}}TND</div>
                    </div>

             </div>

            <!-- Category: pizza -->
            <div class="menu-category">
                <h2> 🍽️ Plat Principal  </h2>
                <div class="menu-items" *ngFor="let plat of plats">
                    <div class="menu-item" *ngIf="plat.categorie === 'PLATPRINCIPALE'">
                        <div>
                            <h3>{{plat.nom}}</h3>
                            <p>{{plat.description}}</p>
                        </div>
                        <div class="price">{{plat.prix}}TND</div>

            </div>
                </div>
            <!-- Category: Pâtes -->
            <div class="menu-category">
                <h2> 🥗 Salade </h2>
                <div class="menu-items" *ngFor="let plat of plats">
                    <div class="menu-item" *ngIf="plat.categorie === 'SALADE'">
                        <div>
                            <h3>{{plat.nom}}</h3>
                            <p>{{plat.description}}</p>
                        </div>
                        <div class="price">{{plat.prix}}TND</div>

                </div>
            </div>

             <!-- Category: Gâteau -->
             <div class="menu-category">
                <h2>🍰 Dessert  </h2>
                <div class="menu-items" *ngFor="let plat of plats">
                    <div class="menu-item" *ngIf="plat.categorie === 'DESSERT'">
                        <div>
                            <h3>{{plat.nom}}</h3>
                            <p>{{plat.description}}</p>
                        </div>
                        <div class="price">{{plat.prix}}TND</div>

                    </div>

                </div>
            </div>
            <div class="menu-category">
                <h2>🥤 Boisson  </h2>
                <div class="menu-items" *ngFor="let plat of plats">
                    <div class="menu-item" *ngIf="plat.categorie === 'BOISSON'">
                        <div>
                            <h3>{{plat.nom}}</h3>
                            <p>{{plat.description}}</p>
                        </div>
                        <div class="price">{{plat.prix}}TND</div>

                    </div>

                </div>

        </div>
    </div>




  <!--Code JS-->

       <!-- Inclusion de la bibliothèque jQuery pour simplifier la manipulation du DOM -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
 $(document).ready(function() {
  // Suppression du premier script qui cause un conflit

  // Garder uniquement cette version améliorée du script
  $(".filters_menu li").click(function() {
    // Récupère la valeur de l'attribut data-filter de l'élément cliqué
    var filter = $(this).data("filter");

    // Affiche tous les éléments si "Tous" est sélectionné
    if (filter === "*") {
      $(".slide-content").show();
    } else {
      // Cache tous les éléments
      $(".slide-content").hide();
      // Affiche uniquement les éléments correspondant au filtre
      $(".slide-content" + filter).show();
    }

    // Supprime la classe 'active' de tous les filtres
    $(".filters_menu li").removeClass("active");
    // Ajoute la classe 'active' au filtre sélectionné
    $(this).addClass("active");
  });
});
window.onpageshow = function(event) {
    if (event.persisted) {
        window.location.reload();
    }
};

</script>

<app-footer></app-footer>
