<app-headerclient></app-headerclient>

      <section  style="  padding-top: 150px;padding-bottom: 200px;" >
        <div class="container">
            <img class="img" src="../../../../assets/menu/burgers/burger1.jpg" alt="Le Bœuf Royal"/>

            <div class="details">
              <div class="header">
                <span class="name">
                    Le Bœuf Royal
                </span>
                <span class="favorite">❤</span>
              </div>

              <div class="origins">
                <span>   bœuf  </span>
                <span> fromage fondant </span>
                <span> laitue </span>
                <span> tomates </span>
                <span> Truffe noire </span>
                <span> caviar </span>
              </div>
              <div class="cook-time">
                <span>
                    Temps de cuisson environ <strong>30-35</strong> minutes
                </span>
              </div>

              <div class="price">
                <span> 48.00 TND </span>
              </div>

              <button>Ajouter au panier  </button>

            </div>
          </div>
        </section>

<app-footer></app-footer>

